body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('Images/WorldExhangeim.jpg'); /* Path to the Background */
    background-size: cover; /* Fullscreen */
    background-position: center; /* Image Center */
    background-repeat: no-repeat; /* No loop for image */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Reducir la altura para hacerlo más compacto */
    text-align: center;
    margin-top: 60px; /* Añadir margen superior para no superponer con el header */
}

header {
    background-color: rgba(204, 35, 120, 0.8); /* Semi-transparent background */
    color: #fff;
    padding: 3px 0; /* Reducir el padding para achicar el header */
    text-align: center;
    width: 100%;
    position: fixed; 
    top: 0;
    font-size: 12px; /* Reducir el tamaño de la fuente */
}

main {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background to the main content */
    border-radius: 10px;
}

h2 { 
    color: #fff; /* Cambia este valor al color que desees */ 
}

button {  /* Button Styling */
    margin: 5px; 
    padding: 10px 20px; 
    font-size: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    display: inline-flex; 
    align-items: center;
} 

button img { 
    margin-right: 8px; 
    width: 20px; /* Size Adjust */ 
    height: 20px; /* Size Adjust */
}

button:hover { 
    background-color: #007bff; /* Change the Background color on hover */ 
    color: #fff; /* Change the color of text on hover */ 
    transform: scale(1.05); /* Slightly increase the size of the button */
}

footer {
    background-color: rgba(204, 35, 120, 0.8); /* Semi-transparent background */
    color: #fff;
    text-align: center;
    padding: 5px 0; /* Reducir el padding para achicar el footer */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px; /* Reducir el tamaño de la fuente */
}

/* CSS para el contenedor de columnas */
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacio entre los contenedores de botones */
}

.central-column {
    max-width: 200px; /* Ajustar el tamaño del contenedor central */
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; /* Espacio entre los botones dentro de un grupo */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo traslúcido blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column button {
    width: 120px; /* Ajustar el tamaño del botón */
    height: 40px; /* Ajustar el tamaño del botón */
    font-size: 10px;
}

h3, h4 {
    margin: 0;
    padding: 0;
}

input[type="text"], select {
    width: 120px; /* Ajustar el tamaño del campo de entrada */
    padding: 10px;
    margin-top: 10px;
    font-size: 10px;
}

button#SwapButton, button#LiquidityOnButton, button#LiquidityOffButton, button#GetPriceButton {
    width: 120px; /* Ajustar el tamaño del botón */
    height: 40px; /* Ajustar el tamaño del botón */
    font-size: 10px;
    margin-top: 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    cursor: pointer;
}

button#SwapButton:hover, button#LiquidityOnButton:hover, button#LiquidityOffButton:hover, button#GetPriceButton:hover {
    background-color: #45a049; /* Verde más oscuro */
}
